In [6]:
import pandas as pd
import numpy as np

# Part 1

In [199]:
df = pd.read_csv('input/day1.txt', header=None)
df

                                                 0
0                                          8eight1
1                                            98126
2          fourfourthreehnbhkmscqxdfksg64bvpppznkh
3                                     8fivenvvtrlj
4                             six3zbhvrfhsevennine
..                                             ...
995                 5eightgdvgthfiveshthreesixfive
996  6seventntzffjkkvvhtgtwoonethreefivekzvptvxfjg
997                         three6blrfsgdqsxgkbqj3
998                              eight1eighteight8
999                         8four419eighteight1bpv

[1000 rows x 1 columns]

'98126\n'

In [200]:
# get all digits from the string
df_digits = df.loc[:,0].apply(lambda x: [int(i) for i in x if i.isdigit()])

In [201]:
# get only first digit and last digit
first_and_last = df_digits.apply(lambda x: [x[0], x[-1]])
first_and_last.head()

0    [8, 1]
1    [9, 6]
2    [6, 4]
3    [8, 8]
4    [3, 3]
Name: 0, dtype: object

In [202]:
# values in list as string
numbers = first_and_last.apply(lambda x: int(''.join(map(str, x))))

In [203]:
numbers.sum()

54304

# part 2

In [193]:
with open('input/day1.txt', 'r') as file:
    lines = file.readlines()

for index in range(len(lines)):
    lines[index] = lines[index].replace('zero', 'z0o').replace('one', 'o1e').replace('two', 't2o').replace('three', 't3e').replace('four', 'f4r').replace('five', 'f5e').replace('six', 's6x').replace('seven', 's7n').replace('eight', 'e8t').replace('nine', 'n9e')
    #problem z zapisywaniem

df = pd.DataFrame(lines)
df.head()

                                       0
0                                8e8t1\n
1                                98126\n
2  f4rf4rt3ehnbhkmscqxdfksg64bvpppznkh\n
3                          8f5envvtrlj\n
4                    s6x3zbhvrfhs7nn9e\n

In [194]:
# get all digits from the string
df_digits = df.loc[:,0].apply(lambda x: [int(i) for i in x if i.isdigit()])
df_digits.head()

0          [8, 8, 1]
1    [9, 8, 1, 2, 6]
2    [4, 4, 3, 6, 4]
3             [8, 5]
4       [6, 3, 7, 9]
Name: 0, dtype: object

In [195]:
# get only first digit and last digit
first_and_last = df_digits.apply(lambda x: [x[0], x[-1]])
first_and_last.head()

0    [8, 1]
1    [9, 6]
2    [4, 4]
3    [8, 5]
4    [6, 9]
Name: 0, dtype: object

In [197]:
# values in list as string
numbers = first_and_last.apply(lambda x: int(''.join(map(str, x))))
numbers.head()

0    81
1    96
2    44
3    85
4    69
Name: 0, dtype: int64

In [198]:
numbers.sum()

54418